@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto", sans-rerif;
}

h1 {
	text-align: center;
}

.amarillo{
	background-color: #ffc107; 
}

.bandera, .bandera p{
	display: block;
	height: 20vh;
	width: 100%;
}
.gris{
	background-color: #2b2b2b;
	color: white;
}
#texto-mayuscula {
	text-transform: uppercase;
}

